<VAST version="2.0">
    <Ad id="{{ .Id }}" >
        <InLine>
            <AdSystem version="2.0.0">
                <![CDATA[ AdService deluxe ]]>
            </AdSystem>
            <AdTitle>
              <![CDATA[ {{ .Title }} ]]>
            </AdTitle>
            <Impression id="AT">
                <![CDATA[ {{ .Host }}/track?uid={{ .Id }}&action=videoClientSideImpression ]]>
            </Impression>
            <Creatives>
                <Creative id="adId" sequence="1">
                    <Linear>
                        <Duration/>
                        <MediaFiles>
                            <MediaFile width="720" height="405" delivery="progressive" type="video/mp4">
                                <![CDATA[ http://ad-videos.host.com/videos/fjwoSBMl-Rulr1JTS.mp4 ]]>
                            </MediaFile>
                        </MediaFiles>
                        <TrackingEvents>
                            <Tracking event="start">
                                <![CDATA[ {{ .Host}}/track?uid={{ .Id }}&action=start ]]>
                            </Tracking>
                            <Tracking event="complete">
                                <![CDATA[ {{ .Host }}/track?uid={{ .Id }}&action=complete ]]>
                            </Tracking>
                        </TrackingEvents>
                        <VideoClicks>
                            <ClickThrough>
                                <![CDATA[ {{ .Host }}clk?uid={{ .Id }}&action=videoClickThrough ]]>
                            </ClickThrough>
                        </VideoClicks>
                    </Linear>
                </Creative>
            </Creatives>
        </InLine>
    </Ad>
</VAST>
