<VAST version="2.0">
    <Ad id="{{ .Id }}" >
        <InLine>
            <AdSystem version="2.0.0">
                <![CDATA[ AdService deluxe ]]>
            </AdSystem>
            <AdTitle>
              <![CDATA[ {{ .Title }} ]]>
            </AdTitle>
            <Impression id="AT">
                <![CDATA[ {{ .Host }}/track?uid={{ .Id }}&action=videoClientSideImpression ]]>
            </Impression>
            <Creatives>
                <Creative id="{{ .Id }}" sequence="1">
                    <Linear>
                        <Duration/>
                        <MediaFiles>
                            {{range $media := .MediaFiles}}
                            <MediaFile width="{{ $media.Width }}" height="{{ $media.Height }}" delivery="{{ $media.Delivery }}" type="{{ $media.Type }}">
                                <![CDATA[ {{ $media.Url }} ]]>
                            </MediaFile>
                            {{end}}
                        </MediaFiles>
                        <TrackingEvents>
                            <Tracking event="start">
                                <![CDATA[ {{ .Host}}/track?uid={{ .Id }}&action=start ]]>
                            </Tracking>
                            <Tracking event="complete">
                                <![CDATA[ {{ .Host }}/track?uid={{ .Id }}&action=complete ]]>
                            </Tracking>
                        </TrackingEvents>
                        <VideoClicks>
                            <ClickThrough>
                                <![CDATA[ {{ .Host }}/clk?uid={{ .Id }}&action=videoClickThrough ]]>
                            </ClickThrough>
                        </VideoClicks>
                    </Linear>
                </Creative>
            </Creatives>
        </InLine>
    </Ad>
</VAST>
